<div id="note-form" class="pbs-4 pbe-0 pis-4 pie-4"
     data-controller="keyboard">
  <div class="card">
    <div class="flex items-center justify-between gap-4 mbe-4">
      <h1 class="text-2xl font-bold"><%= @note.new_record? ? "New Note in #{@category.name}" : @note.title %></h1>
    </div>

    <%= form_with(model: [@category, @note], 
                class: "flex flex-col gap-4",
                data: { 
                  controller: "form",
                  turbo: true,
                  turbo_frame: "_top"
                }) do |f| %>
      <% if @note.errors.any? %>
        <div class="alert alert--negative">
          <ul class="list-disc list-inside">
            <% @note.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= f.text_field :title, class: "input", required: true %>
      </div>

      <div data-turbo-permanent>
        <%= f.rich_text_area :content, placeholder: "Write away..." %>
      </div>
      <div style="bottom: -24px" class="flex justify-end gap sticky bg-main pb-4 pi-4 border-be border-dark">
        <% unless @note.new_record? %>
          <%= button_to "Delete", category_note_path(@category, @note), 
          method: :delete,
          class: "btn btn--negative", 
          form: { data: { turbo_frame: "_top", turbo_confirm: "Are you sure you want to delete this note?" } } %>
        <% end %>
        <%= link_to @note.new_record? ? "Cancel" : "Close", root_path, data: { turbo_stream: "true", turbo_prefetch: false }, class: "btn" %>
        <%= f.submit "Save", data: { turbo_frame: "_top", keyboard_target: "submit" }, class: "btn btn--primary" %>
      </div>
    <% end %>
  </div>
</div>