<div class="card p-4">
  <div class="flex items-center justify-between gap-4 mbe-4">
    <h1 class="text-2xl font-bold"><%= @note.new_record? ? "New Note in #{@category.name}" : @note.title %></h1>
  </div>

  <%= form_with(model: [@category, @note], 
                class: "flex flex-col gap-4",
                data: { turbo: true }) do |f| %>
    <% if @note.errors.any? %>
      <div class="alert alert--negative">
        <ul class="list-disc list-inside">
          <% @note.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= f.text_field :title, class: "input", required: true %>
    </div>

    <div data-turbo-permanent>
      <%= f.rich_text_area :content, placeholder: "Write away..." %>
    </div>

    <div class="flex justify-end gap">
      <%= link_to @note.new_record? ? "Cancel" : "Close", root_path, data: { turbo_frame: "_top", turbo_prefetch: false }, class: "btn" %>
      <%= f.submit "Save", data: { turbo_frame: "_top" }, class: "btn btn--primary" %>
    </div>
  <% end %>
</div>
