<details id="<%= dom_id(category) %>" class="menu__item" <%= 'open' if category.notes.include?(@note) %>>
  <summary class="flex items-center gap-2">
    <% if authenticated? %>
      <%= link_to new_category_note_path(category), 
          class: "btn btn--icon p-1 mie-2 inline-flex items-center justify-center rounded-full btn--secondary opacity-100", 
          title: "Add note to #{category.name}",
          data: { turbo_frame: "main" } do %>
        <%= image_tag "plus.svg", alt: "Add note", size: "16" %>
      <% end %>
      <span class="grow"><%= category.name %></span>
    <% end %>
  </summary>
  <div class="menu">
    <div class="menu__group">
      <% category.notes.each do |note| %>
        <%= link_to note.title, 
            category_note_path(category, note), 
            class: "menu__item #{'bg-secondary' if @note == note}",
            data: { turbo_frame: "main" } %>
      <% end %>
    </div>
  </div>
</details>
