<details id="<%= dom_id(category) %>" class="menu__item <%= dom_id(category) %>" <%= 'open' if category.notes.include?(@note) %>>
  <summary class="flex items-center">
    <% if authenticated? %>
      <%= link_to new_category_note_path(category), 
          class: "btn btn--icon p-1 mie-4 inline-flex items-center justify-center rounded-full btn--secondary opacity-100", 
          title: "Add note to #{category.name}",
          data: { turbo_frame: "_top" } do %>
        <%= image_tag "plus.svg", alt: "Add note", size: "20" %>
      <% end %>
      <span class="grow"><%= category.name %></span>
    <% end %>
  </summary>
  <div class="menu">
    <div class="menu__group">
      <div class="notes_list" data-controller="sortable" data-parent-id="<%= category.id %>" data-sortable-handle-value=".handle">
        <% category.notes.each do |note| %>
          <%= tag.div class: "flex items-center gap border p-3", data: { url_value: category_note_path(category, note) } do %>
            <%= image_tag "menu.svg", class: "colorize-black handle", size: 16 %>
            <%= link_to note.title, edit_category_note_path(category, note), class: "grow", data: { turbo_frame: "_top" } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</details>
