<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Easy Notes" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-preserve-scroll-position" content="true">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :all, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="sidebar-layout" data-controller="debug">
    <%= render "shared/flash" %>

    <header id="header" class="flex items-center justify-between">
      <div class="hide@md">
        <%= render "shared/mobile_menu" %>
      </div>
      <div class="flex items-center gap-2">
        <%= image_tag "note.svg", alt: "Easy Notes", size: 20, class: "mie-2", style: "filter: var(--color-filter-text);" %>
        <%= link_to "Easy Notes", root_path, class: "font-bold text-2xl" %>
      </div>

      <div class="flex-grow"></div>

      <% if authenticated? %>
        <%= button_to "Logout", session_path, method: :delete, class: "btn" %>
      <% end %>
    </header>

    <aside id="sidebar">
      <%= render "shared/sidebar" %>
    </aside>

    <main id="main">
      <%= turbo_frame_tag "main_frame" do %>
        <%= yield %>
      <% end %>
    </main>
  </body>
</html>
